
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
NODE_ENV=development

# Database credentials
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=*****
DB_NAME=postgres
DB_PORT=5432

# The port the application runs on
PORT=3000

###################################################################################################
# Needed only when run commands "npm run typeorm migration:run", "npm run typeorm migration:revert"
###################################################################################################

# TYPEORM_CONNECTION = postgres
# TYPEORM_HOST = localhost
# TYPEORM_USERNAME = postgres
# TYPEORM_PASSWORD = *****
# TYPEORM_DATABASE = postgres
# TYPEORM_PORT = 5432
# TYPEORM_SYNCHRONIZE = true
# TYPEORM_LOGGING = true    
# TYPEORM_ENTITIES = dist/entity/**/*.js
# TYPEORM_MIGRATIONS = dist/migration/**/*.js
# TYPEORM_UUID_EXTENSION = pgcrypto
